<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><?php echo $title; ?></title>
        
        <script>
            const URL = "<?php echo URL; ?>";
        </script>

        <link href="<?php echo URL_STYLE; ?>css/app.css" rel="stylesheet" />
        
        <!-- app module specific css file -->
        <?php
        foreach ($css as $file) {
            ?>
        <link href="<?php echo $file; ?>" rel="stylesheet" />
        <?php

        }
        ?>
        <!-- end specific css file -->
        
    </head>
    <body>
        <header>
            <div class="logo">linna app</div>
            <a class="menu" href="<?php echo URL; ?>">home</a>
            <?php if ($data->login === false) { ?>
            <a class="menu" href="<?php echo URL; ?>login">sign in</a>
            <?php }?>
            <?php if ($data->login === true) { ?>
            <a class="menu" href="<?php echo URL; ?>user">users</a>
            <a class="menu" href="<?php echo URL; ?>logout">sign out</a>
            <?php }?>    
        </header>
