.login form{
    width: 418px;

    border-radius:2px;

    border: 1px solid #ddd;

    margin-left:auto;
    margin-right: auto;
}

.login form input
{
    color:#555;
    font-size:20px;
    border-radius: 2px;
    padding:5px;
    border:1px solid #bbb;
    width: 376px;
}

.login .message{
    width:398px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

.login button
{

    font-size:20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.50);
    width: 388px;
    margin-top:10px;
}

.login button:hover
{
    font-size:20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.50);
    width: 388px;
    margin-top:10px;
    background-color: #aad400;
}
