<main class="login">
    <div>
        <h1>Hello, sign in to app</h1>
        
        <form method="post" action="<?php echo URL; ?>dologin">
            <fieldset>
                <div>
                    <label for="user">user name</label>
                    <input name="user" id="user" type="text"/>
                </div>
                <div>
                    <label for="password">password</label>
                    <input name="password" id="password" type="password"/>
                </div>
                <div>
                <button type="submit">Sign In</button>
                </div>
            </fieldset>
        </form>
        <?php if ($data->loginError === true) { ?>
        <div class="message alert">username or password are incorrect</div>
        <?php } ?>
    </div>
</main>
