<!DOCTYPE html>
<html lang="en">
    <!-- html head tag -->
    <?php require APP_DIR.'/src/Linna/App/Templates/_shared/htmlHead.html'; ?>
    
    <body>
        <!-- page header -->
        <?php require APP_DIR.'/src/Linna/App/Templates/_shared/header.html'; ?>
        
        <main>
            <p class="logo"><img alt="linna logo" src="<?php echo URL_PUBLIC; ?>/img/linna-logo-96.png" /><br />linna app</p>
            <p><?php echo $data->code ?> <?php echo $data->description ?> error page</p>
            <!-- <p>Will be shown when a page (controller or method) does not exist.</p>-->
            <p><a href="<?php echo URL ?>">Return to Home</a> please.</p>
        </main>
        
        <!-- page footer -->
        <?php require APP_DIR.'/src/Linna/App/Templates/_shared/footer.html'; ?>
        
        <script src="<?php echo URL_PUBLIC; ?>/js/app.js"></script>

        <!-- app module specific js script -->
        <?php foreach ($javascript as $file) { ?>
        <script src="<?php echo $file; ?>"></script>
        <?php } ?>
        <!-- end specific js script -->

    </body>
</html>
